body {
  color: rgb(239, 188, 78);
  background-color: #102464;
  font-family: "Figtree", "Figtree-fallback", "Figtree-fallback-android",
    "Noto Sans", "NotoSans-fallback", "NotoSans-fallback-android", sans-serif;
}

h2 {
  margin-bottom: 75px;
  margin-left: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.button-container button {
  padding: 10px 20px;
  background-color: silver;
  border-radius: 12px;
}

.centered-text {
  text-align: center;
}

#Signup_Button {
  top: 5;
  position: fixed;
  right: 0;
  gap: 10px;
  height: 25px;
  width: auto;
  font-size: larger;
  background-color: silver;
}

/* Assuming you have a stylesheet (e.g., styles.css) */

.form-control {
  margin-bottom: 20px; /* Adjust the spacing between fields */
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
}
