body {
  color: rgb(239, 188, 78);
  background-color: #102464;
  font-family: "Figtree", "Figtree-fallback", "Figtree-fallback-android",
    "Noto Sans", "NotoSans-fallback", "NotoSans-fallback-android", sans-serif;
}

.main_text {
  text-align: center;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-container button {
  padding: 10px 20px;
  background-color: silver;
}

h1 {
  margin-bottom: 75px;
  margin-left: 30px;
}
