{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'ryderz/signup.css' %}" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Aiducate &copy;</h1>
    <div class="main_text">
      <h2>I want to sign up as:</h2>
      <div class="button_container">
        <button>Tutor</button>
        <button>Student</button>
      </div>
    </div>
  </body>
</html>
